.level {
  .swap {
    margin: 8px 8px 8px 0px;

    input {
      text-transform: uppercase;
    }

    .swap-languages {
      height: 90%;

      .md-button.md-icon-button {
        margin: 0;
        transform: rotate(90deg);
      }
    }
  }

  .swap, group div.layout-row {
    background-color: $white;
  }

  .buttonReturn, #buttonBackToTop {
    bottom: 0;
    position: fixed;
    -webkit-transform: translate3d(0,0,0);
  }

  .buttonReturn {
    left: 0;
  }

  #buttonBackToTop {
    right: 0;
    visibility: hidden;
  }

  group {
    md-list-item {

      &:hover md-icon {
        visibility: visible;
      }

      md-icon {
        visibility: hidden;
      }
    }
  }

  translations {
    .layout-column {
      padding: 0 16px;
    }

    md-input-container {
      margin: 0;
    }
  }
}
