.level {
  .swap {
    margin: 8px 8px 8px 0px;

    > md-icon {
      display: block;
      margin: auto;
      width: 1em;
    }

    input {
      text-transform: uppercase;
    }
  }

  md-list-item, .md-subheader, .swap {
    background-color: $white;
  }

  translation {
    .layout-column {
      padding: 0 16px;
    }

    md-input-container {
      margin: 0;
    }
  }
}
