<div class="level">
    <div layout-xs="column" layout="row" layout-align="center">
        <div flex-xs flex-gt-xs="40" flex-gt-lg="20" layout="column">
            <group></group>
        </div>
        <div flex-xs flex-gt-xs="40" layout="column">
            <translation></translation>
        </div>
    </div>
    <div layout="row">
      <md-button class="buttonReturn" ng-click="btnBack()">
        <md-icon>reply</md-icon> {{'commons.actions.return' | i18next}}
      </md-button>

      <div flex></div>

      <md-button class="md-primary md-raised" id="buttonBackToTop" ng-click="gotoTop()">
        <md-icon>eject</md-icon>
      </md-button>
    </div>
</div>
