<div class="level">
    <div layout-xs="column" layout="row" layout-align="center">
        <div flex-xs flex-gt-xs="25" flex-gt-lg="15" flex-lg="15" layout="column">
            <swap></swap>
        </div>
        <div flex-xs flex-gt-xs="25" flex-gt-lg="20" layout="column">
            <group></group>
        </div>
        <div flex-xs flex-gt-xs="40" layout="column">
            <translations></translations>
        </div>
    </div>

    <div layout="row">
        <md-button class="buttonReturn" ng-click="btnBack()">
            <md-icon>reply</md-icon> {{'commons.actions.return' | i18next}}
        </md-button>

        <div flex></div>

        <go-to-top></go-to-top>
    </div>
</div>
