<md-card layout="row">
    <md-subheader>{{'commons.translation' | i18next}}<span ng-if="listTranslations.length > 1">s</span></md-subheader>
    <span flex></span>
    <md-button ng-click="addTranslation()" class="md-primary md-raised">
        <md-icon>add</md-icon>
    </md-button>
</md-card>

<md-card ng-repeat="translation in listTranslations | orderBy: 'key'">
    <md-card-content layout="column">
        <div layout layout-align="end start">
            <span flex></span>
            <md-button ng-show="!secondLanguageIsValid" class="md-icon-button" ng-click="sendTranslation($event, translation)" ng-if="!translation.save || translation.modified" ng-disabled="!translation.key || !translation.value">
                <md-icon>save</md-icon>
            </md-button>

            <md-button ng-show="secondLanguageIsValid" class="md-icon-button" ng-click="sendTranslation($event, translation)" ng-if="!translation.save || translation.modified" ng-disabled="!translation.key || !translation.value[0] || !translation.value[1]">
                <md-icon>save</md-icon>
            </md-button>

            <md-button class="md-icon-button md-hue-3 md-warn" ng-click="deleteTranslation($event, translation)">
                <md-icon>delete</md-icon>
            </md-button>
        </div>

        <md-input-container>
            <label>{{'commons.key' | i18next}}</label>
            <md-icon>bookmark</md-icon>
            <input type="text" ng-model="translation.key" class="key">
        </md-input-container>

        <md-input-container>
            <label>{{'commons.value' | i18next}} <span ng-if="secondLanguageIsValid">{{languages[0] | uppercase}}</span></label>
            <md-icon>label</md-icon>
            <input type="text" ng-model="translation.value[0]">
        </md-input-container>

        <md-input-container ng-if="secondLanguageIsValid">
            <label>{{'commons.value' | i18next}} {{secondLanguage | uppercase}}</label>
            <md-icon>label</md-icon>
            <input type="text" ng-model="translation.value[1]">
        </md-input-container>
    </md-card-content>
</md-card>

<md-card layout="row" ng-if="listTranslations.length === 0">
    <md-subheader>{{'commons.noTranslation' | i18next}}</md-subheader>
</md-card>
