<md-card layout="row">
    <md-subheader><span ng-i18next="[i18next]({ count: listTranslations.length})commons.translation"></span></md-subheader>
    <span flex></span>
    <md-button ng-click="addTranslation()" class="md-primary md-raised">
        <md-icon>add</md-icon>
    </md-button>
</md-card>

<translation ng-repeat="translation in listTranslations track by $index"></translation>

<md-card layout="row" ng-if="listTranslations.length === 0">
    <md-subheader>{{'commons.noTranslation' | i18next}}</md-subheader>
</md-card>
