/* Color md-toast */
.good div { background-color: $green !important;}
.medium div { background-color: $orange !important;}
.fail div {	background-color: $red !important;}

md-toast md-icon { color: $white;}
