.spinner-masking {
	z-index: 49;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: white;
}

.spinner-container{
	position: absolute;
  top: 42%;
  left: 50%;
  z-index: 50;
}

.spinner-whirlpool,
.spinner-whirlpool::before,
.spinner-whirlpool::after {
	position: absolute;
	top: 50%;
	left: 50%;
	border: 3px solid rgba(204,204,204,0.3);
	border-left-color: rgb(219,61,106);
	border-radius: 2997px;
		-o-border-radius: 2997px;
		-ms-border-radius: 2997px;
		-webkit-border-radius: 2997px;
		-moz-border-radius: 2997px;
}

.spinner-whirlpool {
	margin: -75px 0 0 -75px;
	height: 150px;
	width: 150px;
	animation: spinner-rotate 1150ms linear infinite;
		-o-animation: spinner-rotate 1150ms linear infinite;
		-ms-animation: spinner-rotate 1150ms linear infinite;
		-webkit-animation: spinner-rotate 1150ms linear infinite;
		-moz-animation: spinner-rotate 1150ms linear infinite;

  &::before {
    content: "";
    margin: -69px 0 0 -69px;
    height: 132px;
    width: 132px;
    animation: spinner-rotate 1150ms linear infinite;
      -o-animation: spinner-rotate 1150ms linear infinite;
      -ms-animation: spinner-rotate 1150ms linear infinite;
      -webkit-animation: spinner-rotate 1150ms linear infinite;
      -moz-animation: spinner-rotate 1150ms linear infinite;
  }

  &::after {
    content: "";
    margin: -87px 0 0 -87px;
    height: 168px;
    width: 168px;
    animation: spinner-rotate 2300ms linear infinite;
      -o-animation: spinner-rotate 2300ms linear infinite;
      -ms-animation: spinner-rotate 2300ms linear infinite;
      -webkit-animation: spinner-rotate 2300ms linear infinite;
      -moz-animation: spinner-rotate 2300ms linear infinite;
  }
}

@keyframes spinner-rotate {
	100% {
		transform: rotate(360deg);
	}
}

@-o-keyframes spinner-rotate {
	100% {
		-o-transform: rotate(360deg);
	}
}

@-ms-keyframes spinner-rotate {
	100% {
		-ms-transform: rotate(360deg);
	}
}

@-webkit-keyframes spinner-rotate {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes spinner-rotate {
	100% {
		-moz-transform: rotate(360deg);
	}
}
