<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="icon" href="icons/icon-x64.ico" />
    <title>Serina</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="bower_components/material-design-icons/iconfont/material-icons.css" />
    <!-- endbuild -->
    <!-- build:css(.tmp) views/main.css -->
    <link rel="stylesheet" href="views/main.css">
    <!-- endbuild -->
</head>
<body ng-app="serinaApp" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()">
                <md-icon>menu</md-icon>
            </md-button>

            <h2 flex md-truncate class="breadcrumb">
                <a ng-repeat="item in breadcrumb track by $index" href="#{{item.href}}">{{item.label}}</a>
            </h2>
        </div>
    </md-toolbar>

    <side-menu></side-menu>

    <spinner></spinner>
    <div ng-view=""></div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/i18next/i18next.min.js"></script>
    <script src="bower_components/ng-i18next/dist/ng-i18next.js"></script>
    <script src="bower_components/i18next-xhr-backend/i18nextXHRBackend.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/commons/services/DataAccessor.js"></script>
    <script src="scripts/commons/services/DataManager.js"></script>
    <script src="scripts/commons/services/Breadcrumb.js"></script>
    <script src="scripts/commons/services/Toast.js"></script>
    <script src="scripts/commons/services/Dialog.js"></script>
    <script src="scripts/commons/directives/spinner.js"></script>
    <script src="scripts/commons/directives/sideMenu.js"></script>
    <script src="scripts/hub/hubController.js"></script>
    <script src="scripts/hub/listLangs.js"></script>
    <script src="scripts/lang/LangController.js"></script>
    <script src="scripts/lang/group.js"></script>
    <script src="scripts/lang/trad.js"></script>
    <script src="scripts/settings/SettingsController.js"></script>
    <!-- endbuild -->
</body>
</html>
