<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- endbuild -->
</head>
<body ng-app="serinaApp" ng-cloak>
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()">
                <md-icon>menu</md-icon>
            </md-button>

            <h2 flex md-truncate>{{pageTitle}}</h2>
        </div>
    </md-toolbar>

    <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Serina</h1>
        </md-toolbar>

        <md-content>
            <md-list>
                <md-list-item class="secondary-button-padding" ng-href="#/list-langs">
                    <md-icon>list</md-icon>
                    <p>Liste des langues</p>
                </md-list-item>

                <md-divider></md-divider>

                <md-list-item class="secondary-button-padding" ng-click="open()">
                    <md-icon>settings</md-icon>
                    <p>Paramètres</p>
                </md-list-item>
            </md-list>
        </md-content>
   </md-sidenav>

    <div ng-view=""></div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/commons/services/DataAccessor.js"></script>
    <script src="scripts/commons/services/Toast.js"></script>
    <script src="scripts/commons/services/Dialog.js"></script>
    <script src="scripts/hub/hubController.js"></script>
    <script src="scripts/hub/listLangs.js"></script>
    <script src="scripts/lang/LangController.js"></script>
    <!-- endbuild -->
</body>
</html>
