.settings {
  md-list, .md-subheader {
    background-color: $white;
  }

  .select-item {
    min-width: 12em;
  }

  .indigo { background-color: rgb(63, 81, 181); }
  .green { background-color: rgb(76, 175, 80); }
  .orange { background-color: rgb(255, 152, 0); }
  .purple { background-color: rgb(156, 39, 176); }
  .brown { background-color: rgb(121, 85, 72); }
  .grey { background-color: rgb(158, 158, 158); }
}
