.settings {
  md-list, .md-subheader {
    background-color: $white;
  }

  .keyboard-key {
    background: $white;
    border: 1px solid #D6DADC;
    border-bottom-color: #CDD2D4;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba($black, .1);
    cursor: default;
    display: inline-block;
    font-size: 1.3em;
    margin: 0 5px 10px 0;
    min-width: 1.5em;
    padding: 6px 10px;
    text-align: center;

    md-icon {
      height: 21px;
      min-height: 21px;
      min-width: 21px;
      width: 21px;
    }

    .material-icons {
      color: rgba($black, .87);
      font-size: 21px;
    }
  }

  .theming {
    .indigo, .green, .orange, .purple, .brown, .grey {
      color: $white;
    }

    .indigo {
      background-color: rgb(63, 81, 181);
      &:hover {
        background-color: rgba(63, 81, 181, 0.4) !important;
      }
    }
    .green {
      background-color: rgb(76, 175, 80);
      &:hover {
        background-color: rgba(76, 175, 80, 0.4) !important;
      }
    }
    .orange {
      background-color: rgb(255, 152, 0);
      &:hover {
        background-color: rgba(255, 152, 0, 0.4) !important;
      }
    }
    .purple {
      background-color: rgb(156, 39, 176);
      &:hover {
        background-color: rgba(156, 39, 176, 0.4) !important;
      }
    }
    .brown {
      background-color: rgb(121, 85, 72);
      &:hover {
        background-color: rgba(121, 85, 72, 0.4) !important;
      }
    }
    .grey {
      background-color: rgb(158, 158, 158);
      &:hover {
        background-color: rgba(158, 158, 158, 0.4) !important;
      }
    }
  }
}
