<md-subheader class="md-no-sticky"><md-icon>developer_mode</md-icon> {{'pages.settings.about.title' | i18next}}</md-subheader>
<md-list-item>
    <p>{{'pages.settings.about.nameAppAndCreator' | i18next}}</p>
</md-list-item>
<md-list-item>
    <p>{{'pages.settings.about.version' | i18next}} : 0.3</p>
</md-list-item>
<md-list-item>
    <p>{{'pages.settings.about.licenceAndDownload' | i18next}} : <a href="https://github.com/foxdog05000/serina" target="_blank" rel="noopener">https://github.com/foxdog05000/serina</a></p>
</md-list-item>
