<div class="settings" layout-xs="column" layout="row" layout-align="center start">
    <div flex-xs flex-gt-xs="80" layout="column">
        <md-content class="md-padding">
            <md-list class="md-whiteframe-2dp">
                <basic-settings></basic-settings>
                <md-divider></md-divider>
                <keyboard-shortcuts></keyboard-shortcuts>
                <md-divider></md-divider>
                <theming></theming>
                <md-divider></md-divider>
                <advanced-settings></advanced-settings>
                <md-divider></md-divider>
                <about></about>
            </md-list>
        </md-content>
    </div>
</div>
