<div class="list-groups">
    <md-card ng-repeat="group in listGroups">
        <md-card-title>
            <span class="">{{group}}</span>
            <span class=""><md-icon>box</md-icon></span>
        </md-card-title>
        <md-card-actions>
            <md-button class="md-primary md-raised">
                <md-icon>edit</md-icon> Editer
            </md-button>
            <md-button class="md-warn md-raised">
                <md-icon>Supprimer</md-icon>
            </md-button>
        </md-card-actions>
    </md-card>
</div>
