<md-card ng-repeat="trad in listTrad | orderBy: 'key'">
    <md-card-content layout="column">
        <div layout layout-align="end start">
            <span flex></span>
            <md-button class="md-icon-button" ng-click="sendTrad(trad, $event)" ng-disabled="!trad.key && !trad.trad"><md-icon>save</md-icon></md-button>
            <md-button class="md-icon-button" ng-click="deleteTrad(trad, $event)"><md-icon>delete</md-icon></md-button>
        </div>

        <md-input-container>
            <label>{{'commons.key' | i18next}}</label>
            <md-icon>bookmark</md-icon>
            <input type="text" ng-model="trad.key">
        </md-input-container>

        <md-input-container>
            <label>{{'commons.message' | i18next}}</label>
            <md-icon>label</md-icon>
            <input type="text" ng-model="trad.trad">
        </md-input-container>
    </md-card-content>
</md-card>

<md-button ng-click="addTrad()" class="md-primary md-raised">
    <md-icon>add</md-icon> {{'commons.actions.add' | i18next}} {{'commons.aTranslation' | i18next}}
</md-button>
