.search-bar {
  * {
    color: $white !important;
  }

  input {
    border-bottom-color: $white;
  }

  .md-errors-spacer {
    display: none;
  }

  .matching-elements {
    display: inline-flex;
  }
}
