<md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">
    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">{{'sideMenu.serina' | i18next}}</h1>
    </md-toolbar>

    <md-content>
        <md-list>
            <md-list-item class="secondary-button-padding" ng-click="toggleLeft()" ng-href="#/list-langs">
                <md-icon>list</md-icon>
                <p>{{'sideMenu.listOfLanguages' | i18next}}</p>
            </md-list-item>
            <md-list-item class="secondary-button-padding" ng-click="toggleLeft()" ng-href="#/json-langs">
                <md-icon>insert_drive_file</md-icon>
                <p>{{'sideMenu.jsonOfLanguages' | i18next}}</p>
            </md-list-item>

            <md-divider></md-divider>

            <md-list-item class="secondary-button-padding" ng-click="toggleLeft()" ng-href="#/settings">
                <md-icon>settings</md-icon>
                <p>{{'sideMenu.settings' | i18next}}</p>
            </md-list-item>
        </md-list>
    </md-content>
</md-sidenav>
