<md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">
    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Serina</h1>
    </md-toolbar>

    <md-content>
        <md-list>
            <md-list-item class="secondary-button-padding" ng-click="toggleLeft()" ng-href="#/list-langs">
                <md-icon>list</md-icon>
                <p>Liste des langues</p>
            </md-list-item>
            <md-list-item class="secondary-button-padding" ng-click="toggleLeft()" ng-href="#/json-langs">
                <md-icon>file</md-icon>
                <p>JSON des langues</p>
            </md-list-item>

            <md-divider></md-divider>

            <md-list-item class="secondary-button-padding" ng-click="toggleLeft()" ng-href="#/settings">
                <md-icon>settings</md-icon>
                <p>Paramètres</p>
            </md-list-item>
        </md-list>
    </md-content>
</md-sidenav>
