<md-list>
    <div class="md-whiteframe-2dp">
        <md-subheader ng-if="listLanguages.length > 0">{{'commons.language' | i18next}}<span ng-if="listLanguages.length > 1">s</span></md-subheader>
        <md-list-item ng-repeat="language in listLanguages track by language.code" ng-click="previewLanguage(language.code)">
            <p><img ng-src="images/flags/{{language.code}}.png" alt="Flag {{language.code}}" class="flag"/><span>{{language.code | uppercase}}</span></p>

            <btn-download-language locale="language.code"></btn-download-language>

            <md-icon>{{selectedLanguage === language.code ? 'visibility' : 'visibility_off'}}</md-icon>
        </md-list-item>
    </div>
</md-list>

<message-no-language ng-if="listLanguages.length === 0"></message-no-language>
