<md-list>
    <div class="md-whiteframe-2dp">
        <md-subheader ng-if="listLanguages.length > 0">{{'commons.language' | i18next}}<span ng-if="listLanguages.length > 1">s</span></md-subheader>
        <md-list-item ng-repeat="language in listLanguages track by language.code" ng-click="previewLanguage(language.code)">
            <img ng-src="images/flags/{{language.code}}.png" alt="Flag {{language.code}}" class="flag"/> <span>{{language.code | uppercase}}</span>
        </md-list-item>
    </div>
</md-list>

<md-card ng-if="listLanguages.length === 0">
    <p class="md-headline center">{{'pages.hub.noLanguages' | i18next}}</p>
    <img ng-src="images/no-languages.png" class="md-card-image no-languages" alt="">
</md-card>
