<md-content class="md-padding" layout-xs="column" layout="row" layout-align="center center">
    <div flex-xs flex-gt-xs="40" flex-gt-lg="30" layout="column">
        <md-card ng-repeat="lang in listLangs track by lang">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{'commons.translation' | i18next}} : {{lang | uppercase}}</span>
                    <span class="md-subhead">{{'commons.format' | i18next}} : i18next</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-sm card-media">
                        <img ng-src="images/lang/{{lang}}.png" alt="Drapeau {{lang}}"/>
                    </div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="openLang(lang)" class="md-raised md-primary">
                    <md-icon>edit</md-icon> {{'commons.actions.edit' | i18next}}
                </md-button>
                <md-button ng-click="deleteLang(lang, $event)" class="md-raised md-warn">
                    <md-icon>delete</md-icon> {{'commons.actions.delete' | i18next}}
                </md-button>
            </md-card-actions>
        </md-card>

        <md-card ng-if="listLangs.length === 0">
          <p class="md-headline center">{{'pages.hub.noLanguages' | i18next}}</p>
          <img ng-src="images/no-languages.png" class="md-card-image" alt="">
        </md-card>
    </div>

    <div flex-xs flex-gt-xs="40" flex-gt-lg="30" layout="column">
        <md-card>
            <img ng-src="images/languages.jpg" class="md-card-image" alt="">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{'pages.hub.addLanguage' | i18next}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <md-input-container>
                    <label>{{'commons.language' | i18next}}</label>
                    <md-icon>translate</md-icon>
                    <input type="text" ng-model="addLang.code" md-maxlength="2">
                </md-input-container>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-disabled="addLang.code.length < 2" ng-click="addLang()" class="md-raised md-primary">
                    <md-icon>add</md-icon> {{'commons.actions.add' | i18next}}
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>
