<md-content class="md-padding" layout-xs="column" layout="row" layout-align="center center">
    <div flex-xs flex-gt-xs="30" layout="column">
        <md-card ng-repeat="lang in listLangs">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Traduction : {{lang | uppercase}}</span>
                    <span class="md-subhead">Format: i18next</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-sm card-media">
                        <img ng-src="images/{{lang}}.png" alt="Drapeau {{lang}}"/>
                    </div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-raised md-primary">
                    <md-icon class="material-icons">edit</md-icon> Editer
                </md-button>
                <md-button class="md-raised md-warn">
                    <md-icon class="material-icons">delete</md-icon> Supprimer
                </md-button>
            </md-card-actions>
        </md-card>
    </div>

    <div flex-xs flex-gt-xs="30" layout="column">
        <md-card>
            <img ng-src="images/languages.png" class="md-card-image" alt="">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Ajouter une nouvelle langue</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <md-input-container>
                    <label>Langue</label>
                    <md-icon class="material-icons">translate</md-icon>
                    <input type="text" ng-model="addLang.code" md-maxlength="2" required md-no-asterisk>
                </md-input-container>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-raised md-primary">
                    <md-icon class="material-icons">add</md-icon> Ajouter
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>
