.breadcrumb {
  a {
    display: inline;
    color: rgba($white, .7);

    &:last-child {
      color: $white;
    }

    &+a:before {
      color: rgba($white, .7);
      content: ">";
      padding: 8px;
    }
  }
}
