@import "commons/scss/colors";
@import "commons/scss/animations";

@import "commons/components/mdToast";
@import "commons/components/toolbar";
@import "commons/components/breadcrumb";
@import "commons/components/spinner";

@import "hub/hub";
@import "level/level";
@import "preview/preview";
@import "settings/settings";

body.md-toast-animating { overflow: auto !important; }

.center { text-align: center;}
.lowercase { text-transform: lowercase;}

.md-sidenav-left .material-icons {
  line-height: .8;
}

md-list-item, .md-subheader, .md-subheader.md-green-theme {
  background-color: $white;
}

md-list-item .flag {
  width: 2em;
  position: relative;
  padding-right: 1em;
  top: 4px;
}

md-toast {
  position: fixed;
}
