// bower:scss
// endbower

@import "commons/scss/colors";
@import "commons/scss/animations";
@import "commons/directives/mdToast";
@import "commons/directives/toolbar";
@import "commons/directives/breadcrumb";
@import "commons/directives/spinner";
@import "hub/hub";
@import "level/level";
@import "preview/preview";
@import "settings/settings";

body.md-toast-animating { overflow: auto !important; }

.center { text-align: center;}
.lowercase { text-transform: lowercase;}

.md-sidenav-left .material-icons {
  line-height: .8;
}

md-list-item, .md-subheader, .md-subheader.md-green-theme {
  background-color: $white;
}

md-toast {
  position: fixed;
}
